
RussellAvila_Calculator/RussellAvila_Calculator.xcodeproj/project.xcworkspace/xcuserdata/consultant.xcuserdatad/UserInterfaceState.xcuserstate
RussellAvila_Calculator/.DS_Store
RussellAvila_Calculator/RussellAvila_Calculator.xcodeproj/project.xcworkspace/xcuserdata/consultant.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
